
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    margin: 0 auto;
    width: 960px;
}

header {
    background: #ebebeb;
    color: #777;
    text-align: center;
    padding: 30px;
    margin: 10px 0;
}

nav {
    background: #ebebeb;
    color: #777;
    text-align: center;
    padding: 30px;
    margin: 10px 0;
}

section {
    background: #ebebeb;
    color: #777;
    float: left;
    text-align: center;
    height: 290px;
    width: 495px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px 10px;
}

aside {
    background: #ebebeb;
    color: #777;
    float: left;
    text-align: center;
    height: 290px;
    margin-left: 10px;
    margin-top: 10px;
    width: 405px;
    padding: 20px 10px;
}

footer {
    background: #ebebeb;
    color: #777;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

article {
    color: #ebebeb;
    background: #777;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    margin-top: 60px;
    height: 200px;
    width: 490px;

}

h1 {
    color: #777;
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

p {
    color: #777;
    background: #ebebeb;
    text-align: center;
    padding: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:10px;
}

.content {
    margin: 10px 0;
}

.clear {
    content: "";
  clear: both;
  display: table;
}

heading {
    margin-top: 10px;
    margin-bottom: 10px;
}